<a href="https://colab.research.google.com/github/r-hugoalves/Data_Wrangling/blob/master/Exerc%C3%ADcios_Data_Wrangling_Parte_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercícios: Data Wrangling - Parte 1

Notebook específico para a resolução de exercícios. Todo o material teórico se encontra [aqui](https://colab.research.google.com/drive/1IDZcS1KHF7tM76PFwFBs0rUe8sL6gkpI?usp=sharing)

## Exercício 1

**Arquivo HTML:** https://static.lms.ebaconline.com.br/content-files/ac039186-bc3a-42ae-af69-e1ffeb6e5233/original.html

Utilize o pacote Python `beautifulsoup4` para extrair todas as 100 empresas do arquivo `fortune.html` providenciado. Salve os dados extraidos no arquivo `fortune.csv` separado por `;`.

In [1]:
import requests
from bs4 import BeautifulSoup
from requests.exceptions import HTTPError

site_fortune = 'https://static.lms.ebaconline.com.br/content-files/ac039186-bc3a-42ae-af69-e1ffeb6e5233/original.html'

#Extraindo o conteúdo do site
try:
  conteudo = requests.get(site_fortune)
  conteudo.raise_for_status()
except HTTPError as exc:
  print(exc)
else:
  lista_fortune = conteudo.text

pagina = BeautifulSoup(lista_fortune, 'html.parser')

In [2]:
#Extraindo as linhas da tabela
conteudo_extraido = []

tabela = pagina.find('div', {'class': 'rt-table'})
linhas = tabela.find('div', {'class': 'rt-tbody'})

#Extraindo o conteudo das linhas da tabela
for linha in linhas:
  linhas = linha.find('div', {'role': 'row'})
  for conteudo in linhas:
    conteudo_linhas = conteudo.getText().strip().split('\n')
    conteudo_extraido.append(conteudo_linhas)

#print(conteudo_extraido)

In [3]:
conversao_string = str(conteudo_extraido)
valores_limpos = conversao_string.replace('[', '').replace(']', '').replace("'", '').split(sep=', ')

#print(valores_limpos)

In [4]:
#Tratando a variável 'valores_limpos' e separando cada uma das variáveis

#Lista da variável rank
comeco = 0
list_rank = []

for i in range(0, 100):
  list_rank.append(valores_limpos[comeco])
  comeco = comeco + 9
  i = i + 1

#print(list_rank)

#Lista da variável name
list_name = []
comeco = 1

for i in range(0, 100):
  list_name.append(valores_limpos[comeco])
  comeco = comeco + 9
  i = i + 1

#print(list_name)

#Lista da variável revenues
list_revenues = []
comeco = 2

for i in range(0, 100):
  list_revenues.append(valores_limpos[comeco])
  comeco = comeco + 9
  i = i + 1

#print(list_revenues)

#Lista da variável revenues_percent_change
list_revenues_percent_change = []
comeco = 3

for i in range(0, 100):
  list_revenues_percent_change.append(valores_limpos[comeco])
  comeco = comeco + 9
  i = i + 1

#print(list_revenues_percent_change)

#Lista da variável profits
list_profits = []
comeco = 4

for i in range(0, 100):
  list_profits.append(valores_limpos[comeco])
  comeco = comeco + 9
  i = i + 1

#print(list_profits)

#Lista da variável profits_percent_change
list_profits_percent_change = []
comeco = 5

for i in range(0, 100):
  list_profits_percent_change.append(valores_limpos[comeco])
  comeco = comeco + 9
  i = i + 1

#print(list_profits_percent_change)

#Lista da variável assets
list_assets = []
comeco = 6

for i in range(0, 100):
  list_assets.append(valores_limpos[comeco])
  comeco = comeco + 9
  i = i + 1

#print(list_assets)

#Lista da variável market_value
list_market_value = []
comeco = 7

for i in range(0, 100):
  list_market_value.append(valores_limpos[comeco])
  comeco = comeco + 9
  i = i + 1

#print(list_market_value)

#Lista da variável employess
list_employees = []
comeco = 8

for i in range(0, 100):
  list_employees.append(valores_limpos[comeco])
  comeco = comeco + 9
  i = i + 1

#print(list_employees)

In [5]:
#Escrevendo no arquivo CSV
import csv

with open(file='./fortune.csv', mode='w', encoding='utf8') as arquivo:
  escritor_csv = csv.writer(arquivo, delimiter=';')
  escritor_csv.writerow(['rank', 'name', 'revenues', 'revenues-percent-change', 'profits', 'profits-percent-change', 'assets', 'market-value', 'employees'])

  for i in range(0,100):
    escritor_csv.writerow([
        list_rank[i],
        list_name[i],
        list_revenues[i],
        list_revenues_percent_change[i],
        list_profits[i],
        list_profits_percent_change[i],
        list_assets[i],
        list_market_value[i],
        list_employees[i]
    ])

## Exercício 2

Crie o dataframe Pandas na variável `fortune_df` através da leitura do arquivo `fortune.csv`

In [6]:
import pandas as pd

fortune_df = pd.read_csv('fortune.csv', sep=';')
fortune_df

,rank,name,revenues,revenues-percent-change,profits,profits-percent-change,assets,market-value,employees
0,1,Walmart,"$559,151",6.7%,"$13,510",-9.2%,"$252,496","$382,642.8","2,300,000"
1,2,Amazon,"$386,064",37.6%,"$21,331",84.1%,"$321,195","$1,558,069.6","1,298,000"
2,3,Apple,"$274,515",5.5%,"$57,411",3.9%,"$323,888","$2,050,665.9","147,000"
3,4,CVS Health,"$268,706",4.6%,"$7,179",8.2%,"$230,715","$98,653.2","256,500"
4,5,UnitedHealth Group,"$257,141",6.2%,"$15,403",11.3%,"$197,289","$351,725","330,000"
...,...,...,...,...,...,...,...,...,...
95,96,3M,"$32,184",0.1%,"$5,384",17.8%,"$47,344","$111,642.1","94,987"
96,97,TJX,"$32,137",-23%,$90.5,-97.2%,"$30,813.6","$79,774.9","320,000"
97,98,Travelers,"$31,981",1.3%,"$2,697",2.9%,"$116,764","$37,933","30,294"
98,99,Capital One Financial,"$31,643",-6.3%,"$2,714",-51.1%,"$421,602","$58,097","51,985"
99,100,Tesla,"$31,536",28.3%,$721,-,"$52,148","$641,115","70,757"

## Exercício 3

Explore o DataFrame e realize as seguintes operações:

* Liste as 10 primeiras linhas do dataframe
* Liste os tipos de dados armazenados na coluna do dataframe
* Liste o número de linhas e colunas do dataframe

In [ ]:
# 10 primeiras linhas do dataframe
print(fortune_df.head(10))

# Tipos de dados armazenados na coluna do dataframe
print(fortune_df.dtypes)

# Número de linhas e colunas do dataframe
print(fortune_df.shape)

## Exercício 4

Grande parte das colunas numéricas (exceto a coluna `ranking` e `employees`) possuem o caracter `$` ou `%` que as classificam com o tipo `object` (ou `str` do Python) ao invés do tipo correto como `int` ou `float`. Utilizando os métodos de atualizam, remova os caracteres das linhas das colunas numéricas.

In [12]:
fortune_df['revenues'] = fortune_df['revenues'].apply(lambda valor: valor.replace("$", ''))
fortune_df['profits'] = fortune_df['profits'].apply(lambda valor: valor.replace("$", ''))
fortune_df['assets'] = fortune_df['assets'].apply(lambda valor: valor.replace("$", ''))
fortune_df['market-value'] = fortune_df['market-value'].apply(lambda valor: valor.replace("$", ''))

print(fortune_df)

    rank                   name revenues revenues-percent-change profits  \
0      1                Walmart  559,151                    6.7%  13,510
1      2                 Amazon  386,064                   37.6%  21,331
2      3                  Apple  274,515                    5.5%  57,411
3      4             CVS Health  268,706                    4.6%   7,179
4      5     UnitedHealth Group  257,141                    6.2%  15,403
..   ...                    ...      ...                     ...     ...
95    96                     3M   32,184                    0.1%   5,384
96    97                    TJX   32,137                    -23%    90.5
97    98              Travelers   31,981                    1.3%   2,697
98    99  Capital One Financial   31,643                   -6.3%   2,714
99   100                  Tesla   31,536                   28.3%     721

   profits-percent-change    assets market-value  employees
0                   -9.2%   252,496    382,642.8  2,300,000
1                   84.1%   321,195  1,558,069.6  1,298,000
2                    3.9%   323,888  2,050,665.9    147,000
3                    8.2%   230,715     98,653.2    256,500
4                   11.3%   197,289      351,725    330,000
..                    ...       ...          ...        ...
95                  17.8%    47,344    111,642.1     94,987
96                 -97.2%  30,813.6     79,774.9    320,000
97                   2.9%   116,764       37,933     30,294
98                 -51.1%   421,602       58,097     51,985
99                      -    52,148      641,115     70,757

[100 rows x 9 columns]

## Exercício 5

Utilize o método `to_csv` para salvar o dataframe `fortune_df` no arquivo `fortune-limpo.csv`.

In [11]:
fortune_df.to_csv('fortune_limpo.csv', encoding='utf8', index=False, sep=';')